<form novalidate>
    <div class="measuresForm row">
      <div class="field col-lg-2">
        <h3>Weight</h3>
        <input type="number" step="any" ng-model="measures.weight"/>
      </div>
      <div class="field col-lg-2">
        <h3>Fat</h3>
        <input type="number" step="any" ng-model="measures.fat"/>
      </div>
      <div class="field col-lg-2">
        <h3>Muscle</h3>
        <input type="number" step="any" ng-model="measures.muscle"/>
      </div>
      <div class="field col-lg-2">
        <h3>Water</h3>
        <input type="number" step="any" ng-model="measures.water"/>
      </div>
      <div class="field col-lg-2">
        <h3>Date</h3>
        <input type="date" value="{{measures.date | date:dd/mm/yy}}" ng-model="measures.date"/>
      </div>
    </div>
      <button type="submit" id="submitMeasures" class="btn btn-default" ng-click="saveMeasures()">Submit</button>
</form>

<table class="measuresTable table table-condensed">
  <tr><th>Weight</th><th>Fat</th><th>Muscle</th><th>Water</th><th>Date</th><th>Weight Diff</th><th>Fat Diff</th><th>Muscle Diff</th><th>Water Diff</th><th>Days</th></tr>
  <tr ng-repeat="measure in allMeasures">
    <td>{{measure.weight}}</td>
    <td>{{measure.fat}}</td>
    <td>{{measure.muscle}}</td>
    <td>{{measure.water}}</td>
    <td>{{measure.date | date : 'dd/MMM/yyyy' }}</td>
    <td ng-if="!$last" ng-class="{redText: measure.weightDiff < 0, greenText: measure.weightDiff > 0}">{{measure.weightDiff | number : 3}}</td>
    <td ng-if="!$last" ng-class="{redText: measure.fatDiff > 0, greenText: measure.fatDiff < 0}">{{measure.fatDiff | number : 3}}</td>
    <td ng-if="!$last" ng-class="{redText: measure.muscleDiff < 0, greenText: measure.muscleDiff > 0}">{{measure.muscleDiff | number : 3}}</td>
    <td ng-if="!$last" ng-class="{redText: measure.waterDiff < 0, greenText: measure.waterDiff > 0}">{{measure.waterDiff | number : 3}}</td>
    <td ng-if="$last"> --- </td>
    <td ng-if="$last"> --- </td>
    <td ng-if="$last"> --- </td>
    <td ng-if="$last"> --- </td>
    <td>{{measure.days}}</td>
  </tr>
</table>

<div class="measuresGraph">
  <canvas linechart options="options" data="chart" width="800" height="800"></canvas>
</div>
