/* app css stylesheet */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.main {
  margin-top:10px;
}

.side{
  padding:0px;
}

.header {
  width: 100%;
}
.header h1 {
  margin:0px 0px 20px 0px;
  padding: 20px 0px;
  font-size: 86px;
  font-weight: 700;
  text-align: center;
  color: #C5AD64;
  -webkit-text-stroke: 1px rgba(240,211,121,0.6);
}

.tabs {
  background: rgba(83,74,67,0.3);
  border-radius: 4px;
  border: 1px solid rgba(95,91,86,0.5);
  margin-top:10px;
}

.tabs ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

.tabs li {
  padding: 10px 0px 10px 65px;
  transition: background-color 0.3s ease;
  background: url('../images/gymnast4.png') no-repeat;
  background-position:25px 9px;
}

.tabs li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: url('../images/dumbbell.png') no-repeat;
  background-position:25px 9px;
}

.tabs li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
    background: url('../images/temperature1.png') no-repeat;
  background-position:25px 9px;
}

.separator {
  height: 1px;
  width:90%;
  border-bottom: 1px solid #111;
}
.tabs li:hover {
  background-color: #ECECEC;
}

.tabs+#current, .tabs li:hover a {
  color: rgba(150,132,76,0.9);
}
.tabs li a {
  font-size: 18px;
  color: #C5AD64;
  -webkit-text-stroke: 1px rgba(240,211,121,0.6);
  transition: color 0.3s ease;
  display:block;
}

.tabs li a {
  text-decoration: none;
}

.line-separator{
  height:1px;
  width: 90%;
  margin: auto;
  border-bottom:1px solid rgba(71,67,63,0.3);
}

.content {
  background-color: #ECECEC;
  padding: 30px;
}

.progress {
   background-color: rgba(0,0,0,0.2);
   height: 100%;
   margin: 0 auto;
}


.graphSelector {
  padding: 0px 38px 0px 0px;
  float: right;
  }

.graphSelector ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.graphSelector li {
  padding: 17px 10px 17px 30px;
  border-bottom: 1px solid rgba(95,91,86,0.1);
  font-size: 18px;
  background-color: rgba(250,250,250,0.5);
}

.graphSelector li:last-child {
  border-bottom: none;
  padding-bottom: 18px;
}

/* ROUNDED ONE */
.roundedOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  float:left;
  margin: 0px 10px 0px -15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.roundedOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.active .roundedOne label, .roundedOne:hover label{
  background: rgba(240,211,121,0.8);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
}

.graph canvas {
  padding: 2px 5px 5px 0px;
}

.graph{
  float:left;
  margin: 10px 0px 10px 20px;
  border-radius: 4px;
  background-color: rgba(250,250,250,0.7);
}


/*-----------------------------WORKOUT-----------------------------*/
.workoutForm {
  padding-left: 20px;
}

.workoutForm h3 {
  font-size: 18px;
}
.workoutForm .col-lg-2 {
  padding: 0 0;
  margin-left: -50px;
}
.workoutForm .col-lg-2:first-child {
  margin-left: 10px;
}

.workoutForm .col-lg-2:last-child {
  margin-left: -65px;
}

.exerciseRow {
  padding-left: 7px;
}

.exerciseRow input {
  width:3em;
  padding: 1px 5px;
}

.exerciseWeight {
  margin-left: -20px;
}

.exerciseWeight input{
  margin-left: -10px;
}

.exerciseReps {
  margin-left: -60px;
}


/* --------------  Measures --------------- */

#submitMeasures {
  margin-left: 15px;
}

.measuresForm .field{
  text-align: center;
}

.measuresForm .field input {
  width: 80%;
  margin: auto;
}

.measuresTable {
  margin-top: 20px;
  background: rgba(255, 255 ,255 , 0.5);
}


/* --------------  Workouts Timeline --------------- */

.workoutsTimeline {
  margin-top: 40px;
  overflow:none;
  width:80%
  margin-left: auto;
  margin-right: auto;
}

.day {
  float: left;
  width: 17%;
  height: 180px;
  border: 1px solid black;
  text-align: center;
  margin: 1px;
}

.dayContent ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  padding: 10px 0px 10px 0px;
  font-size: 10px;
}

.day .title {
  background-color: blue;
  margin-bottom: 0px;
}

.workoutDay {
  background-color: white;
}

.restDay {
  background-color: gray!important;
  width: 10%;
}
.day:nth-child(7n+2) {
  clear:left;
}
.lastWorkout {
  //clear: left;
}
.greenText {
  color: green;
}

.redText {
  color: red!important;
}

.round {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

html {
  background: url('../images/blur-background12.jpg') no-repeat;
  background-size: cover;
};
